.row{
	margin-left: 5%;
	margin-right: 5%;
}

.col-md-4{
	max-width: 30%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 2%;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

address{
	margin-left: 40%;
	margin-right: 40%;
}